
<p-card header="Add New User"
        role="region"
        class="d-flex justify-content-center m-5">
    <p class="m-0 font-weight-bold">
      _______________________  Enter User Details  _____________________________
    </p>
    <form [formGroup]="userInput" (ngSubmit)="submit()">
        <div class="form-group">
            <label class="text-uppercase font-weight-bold py-2">Type</label>
            <p-dropdown formControlName="type" 
            [options]="userType"  
            class="form-control"  
            optionLabel="name"
            optionValue="value" 
            placeholder="User Type"></p-dropdown>
            <small *ngIf="submitted && userInputControls.type.errors"
             style="color: red;font-size: 16px;">User Name is Required</small>
          </div>

        <div class="form-group">
          <label class="text-uppercase font-weight-bold py-2">User Name</label>
          <input type="text" class="form-control"  
           formControlName="userId"
           aria-describedby="emailHelp" 
          placeholder="Enter User Name"
          [ngClass]="{
            'is-invalid': submitted && userInputControls.userId.errors
          }">
          <small *ngIf="submitted && userInputControls.userId.errors"
           style="color: red;font-size: 16px;">User Name is Required</small>
        </div>
        <div class="form-group">
            <label  class="text-uppercase font-weight-bold py-2">Email</label>
            <input type="text" class="form-control"
             formControlName="email"
             placeholder="Enter Email"
            [ngClass]="{
              'is-invalid': submitted && userInputControls.email.errors
            }">
            <small *ngIf="submitted &&
             userInputControls.email.errors" 
             style="color: red;font-size: 16px;">Email is Required</small>
          </div>
          <div class="form-group">
            <label  class="text-uppercase font-weight-bold py-2">Mobile</label>
            <input type="text" class="form-control" 
            formControlName="mobile"
             placeholder="Enter Mobile "
            [ngClass]="{
              'is-invalid': submitted && userInputControls.mobile.errors
            }">
            <small *ngIf="submitted && userInputControls.mobile.errors" 
            style="color: red;font-size: 16px;">Mobile is Required</small>
          </div>
          <div class="form-group">
            <label  class="text-uppercase font-weight-bold py-2">password </label>
            <input type="text" class="form-control"
             formControlName="password" 
             placeholder="Enter password"
            [ngClass]="{
              'is-invalid': submitted && userInputControls.password.errors
            }">
            <small *ngIf="submitted && userInputControls.password.errors"
             style="color: red;font-size: 16px;">password is Required</small>
          </div>
        <div class="p-2">
             <button  pButton pRipple  class="p-button-success " type="submit"  label="Submit"></button >
             <p-button  [routerLink]="['/main']" class="px-3" routerLinkActive="router-link-active" label="Back"></p-button >
        </div>
      </form>
      <p-messages [(value)]="messages"> </p-messages>
</p-card>
<app-spinner [isSpinnerLoader]="!loading"></app-spinner>