<div class="card m-3">
  <p-table class="p-3" [value]="users" [tableStyle]="{ 'min-width': '80rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>User Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>User Creation Date</th>
        <th>Last Login Time</th>
        <th>Record Activity</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{ users.id }}</td>
        <td>{{ users.type }}</td>
        <td>{{ users.userId }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.username }}</td>
        <td>{{ users.userCreationDate }}</td>
        <td>{{ users.lastLoginTime }}</td>
        <td>{{ users.recordActivity }}</td>
        <td>
          <a
            ><i
              class="pi pi-pencil"
              styleClass=" 'cursor' : 'pointer'"
              (click)="editUser(users.id)"
              style="color: rgb(34, 53, 226); cursor: pointer"
            ></i
          ></a>
        </td>
        <td>
          <a
            ><i
              class="pi pi-trash"
              (click)="deleteUser(users.id)"
              style="color: rgb(230, 21, 21); cursor: pointer"
            ></i
          ></a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-button
  [routerLink]="['/main']"
  routerLinkActive="router-link-active"
  label="Back"
></p-button>
