<p-card header="Requested Oil ">
<p-table [value]="oilRequestedOutput" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Oil Requested Status</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>city</th>
            <th>User Name</th>
            <th>Request Time</th>
            <th>View</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-oilRequestedOutput>
        <tr>
            <td>{{ oilRequestedOutput.oilRequestedStatus }}</td>
            <td>{{ oilRequestedOutput.quantity }}</td>
            <td>{{ oilRequestedOutput.city }}</td>
            <td>{{ oilRequestedOutput.quantity }}</td>
            <td>{{ oilRequestedOutput.userName }}</td>
            <td>{{ oilRequestedOutput.logTime }}</td>
            <td>
                <a
                ><i
                  class="pi pi-search"
                  styleClass=" 'cursor' : 'pointer'"
                  (click)="showDialog(oilRequestedOutput.id)" 
                  style="color: rgb(34, 53, 226); cursor: pointer"
                ></i
              ></a>
            </td>
        </tr>
    </ng-template>
</p-table>
</p-card>

<div class="card flex justify-content-center">
    <p-dialog header="Request Information" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        
        <div class="container">
            <div class="row p-2">
              <div class="col-md">
                <label class="col-form-label">Oil Requested Status</label>
              </div>
              <div class="col-md">
               {{oilRequestedDailog?.oilRequestedStatus}}
              </div>
              <div class="col-md">
                <label class="col-form-label">Quantity</label> 
              </div>
              <div class="col-md">
                {{oilRequestedDailog?.quantity}}
              </div>
            </div>

            <div class="row p-2">
                <div class="col-md">
                    <label> City</label> 
                </div>
                <div class="col-md">
                 {{oilRequestedDailog?.city}}
                </div>
                <div class="col-md">
                    <label>User Name</label>
                </div>
                <div class="col-md">
                  {{oilRequestedDailog?.userName}}
                </div>
              </div>

              <div class="row p-2">
                <div class="col-md">
                    <label> Phone</label>
                </div>
                <div class="col-md">
                 {{oilRequestedDailog?.phone}}
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
              </div>


          </div>
          <!-- <p-card *ngIf="latitude">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </p-card> -->
    </p-dialog>
</div>