<div class="container flex-center-between">
    <small class="mb-3 mb-md-0 font-weight-bold text-black-50">{{'all.rights' | translate}}</small>
    <small> <i class="px-2">{{'verasion' | translate}}{{1.2}}</i>  <i class="px-2">{{'support' | translate}} : 92300023</i></small>
    <figure class="mt-3">
      <img src="assets/images/student-logo.png" class="logo-elm" alt="::Elm::">
      <img src="assets/images/x-logo.png" class="logo-elm" >
      <img src="assets/images/insta-logo.png" class="logo-elm" >
      <img src="assets/images/facebook-logo.png" class="logo-elm" >
    </figure>
  </div>