
<p-card >
<div *ngFor="let oil of oilOutput" class="card-responsive p-2 m-2" [style]="{ width: '360px'}" > 
<p-card header="{{oil.oilNameAr}}" 
        subheader="{{oil.oilNameEn}}" 
        role="region" 
        [style]="{ width: '360px', height:'600px'}" class="m-2">
    <ng-template pTemplate="header">
        <!-- <p-image alt="Card"  [src]="readImage(oil.id) " />
         -->
         <p-image [src]="readImage(oil.id)" class="card-img-top" alt="Card image cap" width="250" [preview]="true"></p-image>

    </ng-template>
    <ng-template pTemplate="content" >
    <p class="card-text">
        {{oil.oilDescription}}
    </p>
</ng-template>
    <h5 class="card-title">price: {{oil.oilPrice}}</h5>
    <ng-template pTemplate="footer" >
        <p-button label="Edit" (click)="editOilInfo(oil.id)"></p-button>
        <!-- <p-button label="Cancel" icon="pi pi-check" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
    </ng-template>
</p-card>
</div>
</p-card>