<p-card
  header="Book Date"
  role="region"
  class="d-flex justify-content-center m-5"
>
  <p class="m-0 font-weight-bold">
    Student-generated paragraph summaries require students to pause after
    reading each paragraph of text in order to write a sentence or less summary
    in their own words. Paragraph summaries appear to meet the demands of the
    information-processing theory of learning.
  </p>
  <form [formGroup]="dateForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="text-uppercase font-weight-bold py-2">Add full Date</label>
      <p-calendar
        [showTime]="true"
        [showSeconds]="true"
        class="row"
        [showIcon]="true"
      ></p-calendar>
      <!-- <small *ngIf="submitted && dateInput.oilNameEn.errors" style="color: red;font-size: 16px;">Oil Name arabic is Required</small> -->
    </div>

    <div class="form-group">
      <label class="text-uppercase font-weight-bold py-2">Select City </label>
      <input
        type="text"
        class="form-control"
        formControlName="selectedCity"
        placeholder="Enter City"
        [ngClass]="{
          'is-invalid': submitted && dateInput.selectedCity.errors
        }"
      />
      <small
        *ngIf="submitted && dateInput.selectedCity.errors"
        style="color: red; font-size: 16px"
        >City is Required</small
      >
    </div>

    <div class="p-2">
      <button
        pButton
        pRipple
        class="p-button-success"
        type="submit"
        label="Submit"
      ></button>
      <p-button
        [routerLink]="['/main']"
        class="px-3"
        routerLinkActive="router-link-active"
        label="Back"
      ></p-button>
    </div>
  </form>
  <p-messages [(value)]="messages"> </p-messages>
</p-card>
<app-spinner [isSpinnerLoader]="!loading"></app-spinner>
